.mult-selector{
	background-color: #D8DBDD;
}
.mult-selector input[type="checkbox"] {
	display: inline-block;
}
.mult-selector input[type="submit"]{
	margin-right: 10px;
	display: inline-block;
}
.filter-picture{
	display: inline-block;
	height: 15px;
}
